<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.jde.comment.model.dao.CommentMapper">
	
	<!-- 리뷰 존재 확인 -->
	<select id="existsComment" resultType="int">
        SELECT 
        		COUNT(1)
        FROM 
        		TB_COMMENT
        WHERE 
        		COMMENT_NO = #{commentNo}
          AND 
          		STATUS = 'Y'
    </select>
    
    <select id="getCommentList"
	        parameterType="Long"
	        resultType="CommentDTO">

		SELECT
				  TC.COMMENT_NO commentNo
				, TC.REVIEW_NO reviewNo
				, TC.AUTHOR author
				, TC.CONTENT content
				, TC.COMMENT_DATE commentDate
		        , (
		            SELECT COUNT(*)
		            FROM TB_COMMENT_LIKE TCL
		            WHERE TCL.COMMENT_NO = TC.COMMENT_NO
		          ) likeCount
		    FROM
		          TB_COMMENT TC
		    WHERE
		          TC.REVIEW_NO = #{reviewNo}
		    AND
		          TC.STATUS = 'Y'
		    ORDER
		    BY
		          TC.COMMENT_DATE ASC
	
	</select>















</mapper>