<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.jde.member.model.dao.MemberMapper">
	
	<sql id="countMember">
		SELECT 
		       COUNT(*)
		  FROM 
		       TB_MEMBER 
		 WHERE 
	</sql>
	
	<!-- 회원가입 시 중복 체크 항목 3개 -->
	<select id="countByNickname" parameterType="string">
		<include refid="countMember" />
		    NICKNAME = #{nickname}
	</select>
	
	<select id="countByPhone" parameterType="string">
    	<include refid="countMember" />
    		   PHONE = #{phone}
	</select>

	<select id="countByEmail" parameterType="string">
		<include refid="countMember" />
		       EMAIL = #{email}
	</select>
	
	<!-- 회원가입 시 회원정보 DB INSERT -->
	<insert id="signUp"
			parameterType="MemberVO">
		INSERT
		  INTO
		       TB_MEMBER (
		           MEMBER_NO
		         , EMAIL
		         , PASSWORD
		         , MEMBER_NAME
		         , NICKNAME
		         , PHONE
		         , ENROLL_DATE
		         , STATUS
		         , ROLE
		       )
		VALUES
		       (
		       SEQ_MEMBER_NO.NEXTVAL
		     , #{email}
		     , #{password}
		     , #{memberName}
		     , #{nickname}
		     , #{phone}
		     , DEFAULT
		     , DEFAULT
		     , DEFAULT
		       )
	</insert>
	
	<select id="loadUser" parameterType="MemberLoginDTO">
		SELECT
			   MEMBER_NO memberNo
		     , PASSWORD 
			 , MEMBER_NAME memberName
			 , NICKNAME
		     , PHONE
		     , EMAIL
		     , ROLE
		     , ENROLL_DATE enrollDate
		     , STATUS 
		  FROM
			   TB_MEMBER
		 WHERE
			   EMAIL = #{email}
	</select>
	
	<select id="findPasswordByEmail" parameterType="string">
		SELECT
		       PASSWORD
		  FROM
		       TB_MEMBER
		 WHERE
		       EMAIL = #{email}
	</select>

	<update id="withdrawByPassword" parameterType="string">
		UPDATE
		       TB_MEMBER
		   SET
		       STATUS = 'N'
		 WHERE
		       EMAIL = #{email}
	</update>
	
	<select id="getCaptainList">
		SELECT
       		   m.MEMBER_NO memberNo
     		 , m.NICKNAME
     		 , f.FILE_URL fileUrl
     		 , COUNT(DISTINCT r.REVIEW_NO) reviewCount
     		 , COUNT(rl.REVIEW_NO) likeCount
  		  FROM 
       		   TB_MEMBER m
  		  JOIN 
       		   TB_REVIEW r ON r.MEMBER_NO = m.MEMBER_NO
   		   AND 
               r.STATUS = 'Y'
          LEFT
          JOIN 
               TB_REVIEW_LIKE rl ON rl.REVIEW_NO = r.REVIEW_NO
          LEFT
          JOIN
               TB_MEMBER_FILE f ON m.MEMBER_NO = f.MEMBER_NO
         WHERE
               m.MEMBER_NO IN 
                             (
          					  SELECT 
               						 MEMBER_NO
          						FROM 
               						 (
               						  SELECT
                      						 r.MEMBER_NO
                    					   , RANK() OVER (
                          								   ORDER
                          								      BY 
                          								         COUNT(rl.REVIEW_NO) DESC
                         								 ) AS ranking
                 						FROM 
                      						 TB_REVIEW r
                 						JOIN 
                      						 TB_REVIEW_LIKE rl ON rl.REVIEW_NO = r.REVIEW_NO
                					   WHERE 
                      						 r.STATUS = 'Y'
                					   GROUP 
                   						  BY 
                      						 r.MEMBER_NO
                                     )
          					   WHERE 
                				     ranking &lt;= (
                           							SELECT 
                           								   TOP_N
                           							  FROM  
                           							       TB_RANKING_POLICY
                           							 WHERE 
                           							       POLICY_CODE = 'CAPTAIN_RANK'
                           							   AND    
                           							       STATUS = 'Y'
                         						   )
         					  )
 		  GROUP
             BY 
       			m.MEMBER_NO
     		  , m.NICKNAME
     		  , f.FILE_URL
 		  ORDER
   			 BY 
       			likeCount DESC
	</select>

	<!-- 비밀번호 변경 -->
	<update id="updatePasswordByEmail" parameterType="com.kh.jde.member.model.vo.MemberVO">
	    UPDATE
	           TB_MEMBER
	       SET
	           PASSWORD = #{password}
	     WHERE
	           EMAIL = #{email}
	       AND STATUS = 'Y'
	</update>

	<!-- 이름 변경 -->
	<update id="updateNameByEmail" parameterType="com.kh.jde.member.model.vo.MemberVO">
	    UPDATE
	           TB_MEMBER
	       SET
	           MEMBER_NAME = #{memberName}
	     WHERE
	           EMAIL = #{email}
	       AND STATUS = 'Y'
	</update>

	<!-- 닉네임 변경 -->
	<update id="updateNicknameByEmail" parameterType="com.kh.jde.member.model.vo.MemberVO">
	    UPDATE
	           TB_MEMBER
	       SET
	           NICKNAME = #{nickname}
	     WHERE
	           EMAIL = #{email}
	       AND STATUS = 'Y'
	</update>




</mapper>