<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.jde.token.model.dao.TokenMapper">
	
	<resultMap id="refreshTokenMap" type="com.kh.jde.token.model.vo.RefreshToken">
		<id property="token" column="TOKEN"/>
    	<result property="username" column="USERNAME"/>
    	<result property="expiration" column="EXPIRATION"/>
	</resultMap>
	
	<sql id="sqlForDeleteToken">
		DELETE
		  FROM
		       TB_TOKEN
		 WHERE
	</sql>
	
	<insert id="saveToken" parameterType="RefreshToken">
		INSERT
		  INTO
		       TB_TOKEN
		VALUES
		       (
		       SEQ_TOKEN_NO.NEXTVAL
		     , #{username}
		     , #{token}
		     , #{expiration}
		       )
	</insert>
	
	<delete id="deleteToken" parameterType="string">
		<include refid="sqlForDeleteToken" />
		       EMAIL = #{email}
	</delete>
	
	<delete id="deleteTokenForLogout" parameterType="MemberLogoutDTO" >
		<include refid="sqlForDeleteToken" />
		       EMAIL = #{email}
		   AND
		       TOKEN = #{refreshToken}
	</delete>
	
	<delete id="deleteTokenByRefreshToken" parameterType="string">
		<include refid="sqlForDeleteToken" />
		       TOKEN = #{refreshToken}
	</delete>
	
	<select id="findByToken" parameterType="string" resultMap="refreshTokenMap">
		SELECT
		       TOKEN
		     , EMAIL USERNAME
		     , EXPIRATION_DATE EXPIRATION
		  FROM
		       TB_TOKEN
		 WHERE
		       TOKEN = #{refreshToken}
	</select>
	
</mapper>